SEOL/PruebasUnitarias/Service References/PaisesWS/Paises.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62839/Paises.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Servicios.Dominio" />
  <xs:element name="CrearPais">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Servicios.Dominio" minOccurs="0" name="paisACrear" nillable="true" type="q1:Pais" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearPaisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Servicios.Dominio" minOccurs="0" name="CrearPaisResult" nillable="true" type="q2:Pais" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPais">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codpai" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPaisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Servicios.Dominio" minOccurs="0" name="ObtenerPaisResult" nillable="true" type="q3:Pais" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarPais">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Servicios.Dominio" minOccurs="0" name="paisAModificar" nillable="true" type="q4:Pais" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarPaisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Servicios.Dominio" minOccurs="0" name="ModificarPaisResult" nillable="true" type="q5:Pais" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarPais">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codpai" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarPaisResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPaises">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPaisesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Servicios.Dominio" minOccurs="0" name="ListarPaisesResult" nillable="true" type="q6:ArrayOfPais" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>