SEOL/PruebasUnitarias/Service References/PaisesWS/Paises.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Paises" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:62839/Paises.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:62839/Paises.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Servicios.Errores" />
      <xsd:import schemaLocation="http://localhost:62839/Paises.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:62839/Paises.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Servicios.Dominio" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPaises_CrearPais_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearPais" />
  </wsdl:message>
  <wsdl:message name="IPaises_CrearPais_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearPaisResponse" />
  </wsdl:message>
  <wsdl:message name="IPaises_CrearPais_PaisRepetidoFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Servicios.Errores" name="detail" element="q1:PaisRepetido" />
  </wsdl:message>
  <wsdl:message name="IPaises_ObtenerPais_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPais" />
  </wsdl:message>
  <wsdl:message name="IPaises_ObtenerPais_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPaisResponse" />
  </wsdl:message>
  <wsdl:message name="IPaises_ModificarPais_InputMessage">
    <wsdl:part name="parameters" element="tns:ModificarPais" />
  </wsdl:message>
  <wsdl:message name="IPaises_ModificarPais_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificarPaisResponse" />
  </wsdl:message>
  <wsdl:message name="IPaises_EliminarPais_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarPais" />
  </wsdl:message>
  <wsdl:message name="IPaises_EliminarPais_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarPaisResponse" />
  </wsdl:message>
  <wsdl:message name="IPaises_ListarPaises_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarPaises" />
  </wsdl:message>
  <wsdl:message name="IPaises_ListarPaises_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarPaisesResponse" />
  </wsdl:message>
  <wsdl:portType name="IPaises">
    <wsdl:operation name="CrearPais">
      <wsdl:input wsaw:Action="http://tempuri.org/IPaises/CrearPais" message="tns:IPaises_CrearPais_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPaises/CrearPaisResponse" message="tns:IPaises_CrearPais_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IPaises/CrearPaisPaisRepetidoFault" name="PaisRepetidoFault" message="tns:IPaises_CrearPais_PaisRepetidoFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerPais">
      <wsdl:input wsaw:Action="http://tempuri.org/IPaises/ObtenerPais" message="tns:IPaises_ObtenerPais_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPaises/ObtenerPaisResponse" message="tns:IPaises_ObtenerPais_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModificarPais">
      <wsdl:input wsaw:Action="http://tempuri.org/IPaises/ModificarPais" message="tns:IPaises_ModificarPais_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPaises/ModificarPaisResponse" message="tns:IPaises_ModificarPais_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarPais">
      <wsdl:input wsaw:Action="http://tempuri.org/IPaises/EliminarPais" message="tns:IPaises_EliminarPais_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPaises/EliminarPaisResponse" message="tns:IPaises_EliminarPais_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarPaises">
      <wsdl:input wsaw:Action="http://tempuri.org/IPaises/ListarPaises" message="tns:IPaises_ListarPaises_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPaises/ListarPaisesResponse" message="tns:IPaises_ListarPaises_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPaises" type="tns:IPaises">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CrearPais">
      <soap:operation soapAction="http://tempuri.org/IPaises/CrearPais" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="PaisRepetidoFault">
        <soap:fault use="literal" name="PaisRepetidoFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ObtenerPais">
      <soap:operation soapAction="http://tempuri.org/IPaises/ObtenerPais" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarPais">
      <soap:operation soapAction="http://tempuri.org/IPaises/ModificarPais" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarPais">
      <soap:operation soapAction="http://tempuri.org/IPaises/EliminarPais" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarPaises">
      <soap:operation soapAction="http://tempuri.org/IPaises/ListarPaises" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Paises">
    <wsdl:port name="BasicHttpBinding_IPaises" binding="tns:BasicHttpBinding_IPaises">
      <soap:address location="http://localhost:62839/Paises.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>